.main-container {
  border: 2px solid black;
}
/* Styles for screens larger than 1200px (e.g., large desktops) */
@media screen and (min-width: 1200px) {
  .toggle-menu-main {
    display: none;
  }
  .main-container {
    display: flex;
  }
  .logo {
    display: flex;
    margin-left: 3.2rem;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  }
  .links {
    flex: 2;
  }
  .links ul {
    display: flex;
    list-style: none;
    padding-top: 1.4rem;
    justify-content: space-between;
    cursor: pointer;
  }
  .links ul li {
    display: flex;
    margin-right: 3rem;
    margin-left: 2.5rem;
    justify-content: space-between;
    align-items: center;
  }
  .user-profile {
    flex: 1;
    text-align: center;
    display: flex;
    margin-right: 3rem;
    justify-content: end;
    align-items: center;
    cursor: pointer;
  }
}

/* laptops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .toggle-menu-main {
    display: none;
  }
  .main-container {
    display: flex;
  }
  .logo {
    display: flex;
    margin-left: 3.2rem;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  }
  .links {
    flex: 2;
  }
  .links ul {
    display: flex;
    list-style: none;
    padding-top: 1.4rem;
    cursor: pointer;
    justify-content: space-between;
  }
  .links ul li {
    display: flex;
    margin-right: 3rem;
    margin-left: 1rem;
    justify-content: end;
    align-items: center;
  }
  .user-profile {
    flex: 1;
    text-align: center;
    display: flex;
    margin-right: 3rem;
    justify-content: end;
    align-items: center;
    cursor: pointer;
  }
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .toggle-menu-main {
    display: none;
  }
  .main-container {
    display: flex;
  }
  .logo {
    display: flex;
    margin-left: 0.2rem;
    justify-content: start;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
  .links ul {
    display: flex;
    list-style: none;
    padding-top: 1.4rem;
    cursor: pointer;
    /* justify-content: space-between; */
  }
  .links ul li {
    display: flex;
    margin-right: 2.5rem;
    /* margin-left: 1rem; */
    justify-content: space-between;
    align-items: center;
  }
  .user-profile {
    /* flex: 1; */
    text-align: center;
    display: flex;
    margin-right: 3rem;
    justify-content: end;
    align-items: center;
    cursor: pointer;
  }
}
/*  mobile devices*/
@media screen and (max-width: 767px) {
  /* .toggle-menu-main {
    position: absolute;
    right: 0;
    margin-top: 1.1rem;
    margin-right: 1rem;
  } */
  .toggle-menu-main {
    position: absolute;
    right: 0;
    margin-top: 0.6rem;
    margin-right: 0.5rem;
    background: #d9d9d9; /* Example background color */
    color: #000; /* Example text color */
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s; /* Add a transition effect for a smoother change */
  }
  .toggle-menu-main:hover {
    background: #004aad; /* Change the background color on hover */
    color: #fff; /* Change the text color on hover */
  }
  .main-container {
    display: flex;
  }
  .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  }
  .links {
    display: none;
  }
  .links-toggle {
    max-height: 12rem;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .user-profile {
    display: none;
  }
  .links-toggle ul {
    list-style: none;
  }
  .user-profile-toggle {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
  }
}
